{% extends 'page.html' %}

{% block subtitle %}{{ c.page.title }}{% endblock %}

{% block primary %}
{% set current_lang = request.environ.CKAN_LANG %}
  <section class="module-content">
    {% if h.check_access('ckanext_pages_update') %}
      {% if current_lang != c.page.lang %}
        {% link_for _('Add page'), controller='ckanext.pages.controller:PagesController', action='pages_edit', page='' , class_='btn btn-primary pull-right', icon='plus-sign-alt' %}
      {% else %}
        {% link_for _('Edit'), controller='ckanext.pages.controller:PagesController', action='pages_edit', page='/' + c.page.name, class_='btn btn-primary pull-right', icon='edit' %}
      {% endif %}
    {% endif %}

    {% if current_lang != c.page.lang %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ _('This page is not available for your chosen language') }}
      </div>
    {% endif %}
    <h1 class="page-heading">{{ c.page.title }}
       {% if current_lang != c.page.lang %}
        {% for locale in h.get_available_locales() %}
          {% if locale == c.page.lang %}
            <small class="pages-language-tag">({{ locale.display_name or locale.english_name }})</small>
          {% endif %}
        {% endfor %}
      {% endif %}
    </h1>
    {% if c.page.content %}
      <div class="ckanext-pages-content">
          {{ h.render_markdown(c.page.content) }}
      </div>
    {% else %}
      <p class="empty">{{ _('This page currently has no content') }}</p>
    {% endif %}
  </section>
{% endblock %}

{% block secondary %}{% endblock %}
